:root {
  --primary: #2c2c2c;
  --light: #fff;
  --dark: #000;
  --offset: #1f1f1f;
  --blue: #6564db;
  --offset-white: rgba(255, 255, 255, 0.8);
  --red: rgb(255, 0, 0);
}

/* Buttons */
#btn-demo {
  grid-area: btn;
  width: 125px;
  padding: 5px;
  margin-bottom: -100px;
  color: var(--offset-white);
  background-color: var(--offset);
  border-radius: 15px 0;
  border: 1px solid rgba(255, 0, 0, 0.3);
  font-size: 14px;
}

#btn-demo:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: gba(255, 255, 255, 0.2);
}

#btn-signup--banner {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: var(--offset-white);
  background-color: var(--blue);
  font-size: 14px;
  border: 1px solid #ffffff33;
  border-radius: 5px;
}

#btn-signup--banner:hover {
  background-color: var(--red);
  border-color: gba(255, 255, 255, 0.2);
}

/* Main wrapper */
.content-wrapper {
  max-width: 1500px;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .content-wrapper {
    grid-template-areas:
      "wrapper-upper wrapper-upper "
      "wrapper-features--mobile wrapper-features--mobile"
      "wrapper-middle wrapper-middle";
    grid-template-columns: 100%;
  }
}

/* Large Screen */
@media screen and (min-width: 1151px) {
  .content-wrapper {
    grid-template-areas:
      "wrapper-features--left wrapper-upper wrapper-features--right"
      "wrapper-middle wrapper-middle wrapper-middle";
    grid-template-columns: 0.5fr;
    column-gap: 25px;
  }
}

/* upper section */
.wrapper-upper {
  grid-area: wrapper-upper;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding: 30px;
  height: 500px;
  align-items: center;
  color: var(--light);
  background-color: var(--dark);
  box-shadow: 8px 10px 7px var(--offset), -8px -0 7px var(--offset);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.wrapper-banner {
  margin-top: 20px;
}

.upper-section--one,
.upper-section--two {
  display: flex;
  max-width: 1000px;
  margin: 0 30px;
}

.upper-section--two {
  margin-top: 45px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  font-size: 24px;
  max-width: 700px;
  margin-right: -60px;
  margin-top: 30px;
}

.header-img {
  grid-area: image;
  display: flex;
  align-items: center;
  height: 200px;
  margin-right: -35px;
}

.header-img img {
  height: 300px;
  margin-top: -45px;
}

.section-two--paragraph {
  grid-area: paragraph;
  max-width: 600px;
}

.section-two--paragraph p {
  max-width: 700px;
}

.section-two--signup {
  grid-area: signup;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

#input-signup--banner {
  width: 100%;
  padding: 10px 0;
  margin-top: -10px;
  background-color: var(--light);
  border: 1px solid;
  text-transform: uppercase;
  font-weight: bolder;
  border-color: rgba(255, 255, 0, 0.2);
  border-radius: 5px;
}

/* Min */
@media screen and (min-width: 1135px) {
  .header {
    margin-right: -65px;
  }
}

@media screen and (min-width: 975px) {
  .upper-section--one {
    margin-bottom: -30px;
  }
}

/* Max */
@media screen and (max-width: 1149px) {
  .wrapper-upper {
    box-shadow: 10px 0 10px rgba(255, 255, 255, 0.1),
      -10px 0 10px rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 975px) {
  .upper-section--two {
    margin-top: 10px;
  }
}

@media screen and (max-width: 849px) {
  .wrapper-upper {
    height: fit-content;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }

  .header-img img {
    display: none;
  }

  .header h1 {
    max-width: 500px;
  }

  .section-two--paragraph {
    margin-right: 15px;
  }
}

@media screen and (max-width: 649px) {
  .wrapper-upper {
    margin-top: 30px;
  }

  .header {
    width: 100%;
    font-size: 18px;
    margin-top: 0;
  }

  .upper-section--two {
    margin-top: 0;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .section-two--signup {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 449px) {
  .wrapper-upper {
    padding: 15px;
  }

  .header {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .section-two--paragraph {
    margin: 15px 0;
  }

  .section-two--signup {
    margin-top: 30px;
  }
}

/* Feature section */
@media screen and (max-width: 1149px) {
  .large {
    display: none;
  }
}

h3 {
  color: var(--light);
  font-size: 14px;
}

/* Mobile only features > 1150px */
.wrapper-features--mobile {
  grid-area: wrapper-features--mobile;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
}

.wrapper-features--left img,
.wrapper-features--right img {
  width: 80px;
  justify-content: space-around;
  margin-bottom: 10px;
}

.wrapper-features--left,
.wrapper-features--right {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.wrapper-features--left {
  grid-area: wrapper-features--left;
}

.wrapper-features--right {
  grid-area: wrapper-features--right;
}

.features {
  width: 180px;
  padding: 15px 30px;
}

@media screen and (max-width: 350px) {
  .features {
    width: 150px;
    padding: 5px 15px;
    margin: 0;
  }
}

@media screen and (max-width: 1150px) {
  .wrapper-features--mobile {
    background-color: var(--primary);
  }

  .wrapper-features--left,
  .wrapper-features--right {
    width: 100%;
  }

  .features {
    width: 90%;
    height: 200px;
    margin: 7.5px;
    padding-top: 45px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    background-color: rgba(31, 31, 31, 1);
  }

  .feature-left {
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1), -10px 0 10px var(--dark);
  }

  .feature-right {
    box-shadow: 10px 0 10px var(--dark), 1px 1px 20px rgba(255, 255, 255, 0.1);
  }
}

/* Large Screen Features > 1150px */
@media screen and (min-width: 1149px) {
  .wrapper-features--mobile {
    display: none;
  }
}

.wrapper-features--right---large,
.wrapper-features--left---large {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.wrapper-features--right---large img,
.wrapper-features--left---large img {
  width: 100px;
}

.wrapper-features--right---large h3,
.wrapper-features--left---large h3 {
  font-size: 16px;
}

.wrapper-features--right---large div {
  box-shadow: 10px 0 10px var(--dark), 1px 1px 20px rgba(255, 255, 255, 0.1);
}

.feature-large {
  height: 100%;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1), -10px 0 10px var(--dark);
  background-color: rgba(31, 31, 31, 1);
}

.large-row {
  margin-bottom: 25px;
}

.feature-large img {
  margin-top: 20%;
}

/* Wrapper-middle */
.wrapper-middle {
  display: grid;
  grid-area: wrapper-middle;
  margin-top: 30px;
}

.header-middle {
  text-align: center;
}

.header-middle span {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 900;
}

.header-middle h2,
.header-h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--light);
  font-size: 32px;
}

.sections {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.section {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 30px;
  color: rgba(255, 255, 255, 0.7);
  background-color: var(--dark);
  box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.1), 8px 0 15px var(--dark);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.section img {
  margin: 0 auto;
}

.section h3 {
  margin: 15px 0;
  font-size: 16px;
}

.section-one {
  box-shadow: 2px 0 10px rgba(255, 255, 255, 0.1), -8px -0 7px var(--offset);
}

.section-two {
  box-shadow: 2px 0 10px rgba(255, 255, 255, 0.1),
    -2px 0 10px rgba(255, 255, 255, 0.1);
}

.section-three {
  box-shadow: 8px -0 7px var(--offset), 2px 0 10px rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 889px) {
  .section {
    box-shadow: 10px 0 10px rgba(255, 255, 255, 0.1),
      -10px 0 10px rgba(255, 255, 255, 0.1);
  }
}

